$font-main: 'Inter', sans-serif;

$color-accent: #1567E2;
$color-accent-lighter: #8AB3F1;
$color-accent-lighter2: #c0d5f3;
$color-text: #242942;
$color-secondary: #8A8FA8;
$color-red: #DF2242;
$color-white: #FFFFFF;

// Используется только для фона в DefaultLayout
$color-bg-main: #4788EB;
$color-bg-grad1: #75A6F0; // 100%
$color-bg-grad2: #F8FAFC; // 40%
$color-bg-grad3: #1969E1; // 100%
$color-bg-grad4: #F5E9EB; // 75%
$color-bg-grad5: #5A6FD8; // 100%
$color-bg-grad6: #CCDCE8; // 100%
$color-bg-grad7: #391ead; // 100%
$color-bg-grad8: #62daff; // 100%

$radius-glass-card: 32px;
$radius-basic-card: 20px;
$radius-rect-buttons: 10px;

// HomePage
$font-size-nii: 48px;
$font-size-intro-text: 20px;
$font-size-welcome: 28px;
$font-size-main-text: 18px; // enter as a doctor btn
$font-size-start-btn: 22px;

// --- Additional colors; dashboards 
$color-blue-med: #5D8DD3;
$color-green: #04A040;
$color-green-light: #81BD85;
$color-green-text: #1B8222;
$color-cold-red: #EA566F;
$color-blue-dark: #0D3C81;

$color-glass-white: #FFFFFF;