$font-main: 'Inter', sans-serif;

$color-accent: #1567E2;
$color-accent-lighter: #8AB3F1;
$color-text: #242942;
$color-secondary: #8A8FA8;
$color-red: #DF2242;

$radius-auth-card: 32px;
$radius-welcome-card: 20px;
$radius-rect-buttons: 8px;