# ---------------------------
# PostgreSQL
# Эти переменные нужны postgres контейнеру
# чтобы создать БД при первом запуске
# ---------------------------
DB_NAME=cardio_db
DB_USER=cardio_user
DB_PASSWORD=

# ---------------------------
# Redis
# ---------------------------
REDIS_PASSWORD=

# ---------------------------
# JWT
# ---------------------------
JWT_SECRET=

# ---------------------------
# Spring профиль
# prod — внутри Docker
# dev  — локальная разработка
# ---------------------------
SPRING_PROFILES_ACTIVE=prod

# ---------------------------
# ML сервис
# Внутри Docker — имя контейнера
# ---------------------------
ML_SERVICE_URL=http://ml-service:8000
